<table border = 1>
	<tr>
		<td><% %></td>
		<td>Poniedziałek</td>
		<td>Wtorek</td>
		<td>Środa</td>
		<td>Czwartek</td>
		<td>Piątek</td>
		<td>Sobota</td>
		<td>Niedziela</td>
	</tr>
	<% for i in 0...@godziny.size %>
	<tr>
		<td><%=h @godziny[i].begin.strftime("%H") << ":" << @godziny[i].begin.strftime("%M") %>-<%=h @godziny[i].end.strftime("%H") << ":" << @godziny[i].end.strftime("%M") %></td>
			<% for j in 0...7 %>
				<td id="obecnosc<%= (!@obecnosci[i][j].nil?) ? @obecnosci[i][j].wartosc : '' %>">
					<% for k in 0...@plan[i][j].size %>
					
						<%= link_to @plan[i][j][k].przedmiot.nazwa, rodzic_przed2_path( {:id => @plan[i][j][k].lista_id}) %>
					<% end %>
				</td>
			<% end %>
	</tr>
	<% end %>
</table>