/*.plany:hover{	outline-width : 2px; 
				outline-style : dotted;
				outline-color : #ff0011;
			}
*/


body {
	width:100%;
}
/*
#glowny {
	padding-top : 5px;
	
	padding-left:30px;
	padding-right:30px;
}

#main_center {
	padding-left:0px;
	padding-right:0px;
}

#example {
	padding-left:50px;
	padding-right:50px;
}*/

.obecnosc {
	border-width: 0px 0px 0px 1px; margin: 1px; padding-right: 1px; padding-left: 1px;
}

.obecny {
	background-color:green;
	display:none;
}
.nieobecny {
	background-color:red;
	display:none;
}
.spozniony {
	background-color:yellow;
	display:none;
}

#example li {
	text-align:center;
}


#message { top: 86px;
		   margin: auto;
		   position: absolute;
		   display: none;
		   text-align:center;
		   min-width: 100%;
		   max-height:33px;
		   opacity: 1;
		   text-shadow: 0px 0px 50px black;
 		   
		 }
#message .info {
		   			position:relative;
 		   		  	background-color: #0d2d27;
					margin: 0 auto 0 auto;
					width: 180px;
					display:block;
					color: #e5ebe6;
					}
					
#message .warning   { 
					background-color: red;		   
		   			position: absolute;
 		   		  	background-color: #06ff00;
					margin: 0 auto 0 auto;
					min-width: 100%;
				  }

				  
table  {
	table-layout: auto; /*rozplanowanie - automatycznie dopasowuje rozmiar komorek do textu */
	border-style:ridge; /*styl obramowania*/
	
	
	empty-cells: show; /*pokazuje obramowanie wokol pustych komorek*/
	background: url(/grafika/tlotabeligradient.jpg) repeat; /*tlo z obrazka calej tabeli */
	opacity: .9;
	}
	
th {
	padding: 5px;/*wmargines*/
	font-size: 11pt; /*rozmiar czcionki*/
	font-weight: 800; /*waga*/
	font-family: Arial; /*czcionka naglowkow*/
	background: url(/grafika//tlotab2.jpg) repeat; /*tlo z obrazka naglowka*/
	font-family : "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
	}	
	
td {
padding: 0px 5px 0px 5px;
font-weight: 550; /*waga*/
font-size: 8pt; /*rozmiar czcionki*/
border-width: 1px; /*szerokosc obramowania*/
border-style: groove; /*styl obramowania groove*/
border-color: #a6adb6; /*kolor obramowania*/
background: url(/grafika/tlokomorek.jpg) repeat; /*tlo komorek*/
font-family : "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
}

.szerokie {
	width : 80px;

}

/*odsylacze*/
td a{ color: #06085f;
background-image: none;
}
td a:visited { color: #6e7791}

.left {
	border-left-width: 0px;
}

.up {
	border-top-width: 0px;
}
