body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(grafika/tlo_strony2.jpg);
	width: 1280px;
}

/*MENU
td#menu{

	margin-left: 5px;
	float: left;
	font-weight:bold;
}
td#menu a {
		display:block; width:128px; height:82px; color:#FFFFFF; 
		text-decoration:none; background:url(grafika/button2.png) no-repeat; 
		text-transform:uppercase; text-align:center;  font-size:13px;}
td#menu a:hover {background:url(grafika/button2_over.png) no-repeat;}
td#menu ul {list-style:none; padding:0;  height:75px;}
td#menu  ul li {float:left; padding:0 5px; font-weight:bold;}
td#menu a img{
	border: 0px;
}
td#zawartosc{
	height: 510px;
}

td#zawartosc iframe{
	margin-top: 15px;
		height: 485px;
		width: 1120px;
}
td#zawartosc table{

}
-----------------------------------*/

/*BANNER*/
#head{
	height : 80px;
	min-width: 1100px;
}

#baner {
	float: left;
	background : url("grafika/logomn.png") no-repeat;
	min-width: 800px;
}

#dane_logowania { 
    min-width: 300px;
	font : 100% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
	letter-spacing : 2px;
	color : #FFFFFF;
	font-weight:bold;
	float : right;
	text-align: right;
	margin-top: 5px;
	margin-right:10px;
	line-height:14px;
} 
#dane_logowania h4{
	font : 70% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
	font-weight:bold;
}

#dane_logowania a{
	height: 25px;
	width: 100px;
	font : 70% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
	text-align: center;
	font-weight:bold;
	float : right;
 	color : #FFFFFF;
	text-decoration:underline;;

}

#dane_logowania a:hover{
	background:url(grafika/header3.png) no-repeat;
}

#main{
	text-align: justify;
}

#main_top{
	margin-top:60px;
	margin-right: auto;
	height: 19px;
	background:url(grafika/main_top.jpg) no-repeat;
}

#main_center
{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 7px;
	font : 110% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
	line-height: 25px;
	background:url(grafika/main_center.jpg) repeat-y;
	min-height: 420px;
}

#main_down{
	height: 20px;
	background:url(grafika/main_down.jpg) no-repeat;
}

#footer{
	height: 49px;
	background:url(grafika/footer.jpg) no-repeat;
		text-align: center;
	font : 77% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
	font-weight:bold;
	padding-top:5px;
	line-height: 11px;
}

#footer p{
	color: #FFFFFF;
}



#example{
	margin-top:-47px;
}

/*LOGOWANIE*/
#container{
	min-height:650px;
}
#logowanie { 
height : 174px;
width : 345px;
font-weight:bold;
background : #fff url(grafika/mytlo3v2.jpg);
margin-left : 35%;
margin-top: 150px;
margin-bottom: 200px;
} 

#logowanie p#p1{
	padding : 3px 10px;
	font : 110% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
	color: #FFFFFF;
	}
	
#logowanie p#p2{
	padding : 20px 40px;
	font : 110% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
}

#cos TABLE  {
	table-layout: auto; /*rozplanowanie - automatycznie dopasowuje rozmiar komorek do textu */
	border-style:ridge; /*styl obramowania*/
	border-width: 4px; /*szerokosc obramowania*/
	border-color: #a6adb6; /*kolor obramowania id="kolumna" */
	empty-cells: show; /*pokazuje obramowanie wokol pustych komorek*/
	background: url(grafika/tlotabeligradient.jpg) repeat; /*tlo z obrazka calej tabeli */
	}
	
#cos th {
	height: 2em; /*wysokosc naglowkow*/
	font-size: 14pt; /*rozmiar czcionki*/
	font-weight: 800; /*waga*/
	font-family: Arial; /*czcionka naglowkow*/
	background: url(grafika/tlotab1.jpg) repeat; /*tlo z obrazka naglowka*/
	}	
	
#cos td {
height: 2em; /*wysokosc komorek*/
font-weight: 700; /*waga*/
font-size: 12pt; /*rozmiar czcionki*/
border-width: 1px; /*szerokosc obramowania*/
border-style: groove; /*styl obramowania */
border-color: #a6adb6; /*kolor obramowania*/
background: url(grafika/tlokomorek.jpg) repeat; /*tlo komorek*/
}

/*odsylacze*/
td a{ color: #06085f;}
td a:visited { color: #6e7791}
#obecnosc1 {
	background-color:#a6adb6;
}



