body {
	background: #0F5B96 url(/images/tlo3.jpg) repeat-x
	}

TABLE  {
	font-size: 13pt;
	font-family: Arial;
	table-layout: auto; 
	background: url(/images/tlotab1.jpg) repeat-x;
	background-color: #d3d5d6;
	border-width: 3px ;
	border-style:groove;
	border-color: #a6adb6;
	border-collapse:separate;
	}
	
td {
font-size: 15pt;
border-width: 1px;
border-style: groove ;
border-color: #a6adb6;
}
	


