<p>
  <b>Imie:</b>
  <%=h @nauczyciel.imie %>
</p>

<p>
  <b>Nazwisko:</b>
  <%=h @nauczyciel.nazwisko %>
</p>


<%= link_to 'Edit', edit_nauczyciel_path(@nauczyciel) %> |
<%= link_to 'Back', nauczyciele_path %>
