						<ul>
					        <li><%= link_to "<span>plan</span>", uczen_intro_path %></li>
					        <li><a href="" title="zawartosc"><span>Uczen</span></a></li>
							<li><%= link_to "<span>Przedmioty</span>", uczen_przed_path %></li>
					    </ul>