<ul>
    <li><%= link_to "<span>plan</span>", uczen_intro_path, :title => "glowny" %></li>
    <li><a href="" title="glowny"><span>Uczen</span></a></li>
	<li><%= link_to "<span>Przedmioty</span>", uczen_przed_path, :title => "glowny" %></li>
</ul>